.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

.margin-top.margin-custom1 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-huge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-top.margin-small {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.margin-top.margin-tiny {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-top.margin-custom3 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-medium {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.margin-top.margin-xxsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-top.margin-xxhuge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-top.margin-custom2 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xsmall {
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

.margin-top.margin-large {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-top.margin-xxlarge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-top.margin-xlarge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-top.margin-0 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-top.margin-xhuge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-top.margin-xsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.text-align-center {
  text-align: center;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.text-size-small {
  font-size: 0.875rem;
}

.text-weight-semibold {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none;
  }
}

.text-size-small.link-underline {
  text-decoration: underline;
}

.text-size-small.faded {
  color: var(--_primitives---opacity--neutral-darkest-40);
  font-size: 0.75rem;
}

.text-size-small.alt {
  font-family: '42 Dot Sans';
  font-size: 1rem;
}

.text-weight-light {
  font-weight: 300;
}