.blog-item-card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;

  border-radius: 8px;

  text-decoration: none;
}

.blog-item-image-wrapper {
  aspect-ratio: 2/1;
}

.image-fill {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.image-fill.rounded {
  border-radius: 4px;
}

.blog-item-contentwrapper {
  padding: 16px 24px;
  background-color: #e6e8dd;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

.card-title {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.sub-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  font-family: '42 Dot Sans';
  font-weight: 300;
}

.label-dot {
  box-sizing: border-box;

  width: 10px;
  height: 10px;
  aspect-ratio: 1/1;

  border-radius: 100%;

  background-color: var(--_primitives---opacity--brand--mossy-gold);

  object-fit: cover;
}

.text-size-tiny {
  font-size: 0.75rem;
}

.text-size-tiny.light {
  font-family: '42 Dot Sans';
  font-weight: 400;
}

.text-size-tiny.light.faded {
  opacity: 0.5;
}

.text-size-tiny.bold {
  font-family: '42 Dot Sans';
  font-weight: 800;
}

.header-style-h5 {
  font-family: '42 Dot Sans';
  font-size: 1.25rem;
  font-weight: 500;
}

#w-node-c25fb5a1-67e4-8e99-95de-de8726db66e5-26db66e5 {
}
#w-node-c25fb5a1-67e4-8e99-95de-de8726db66ed-26db66e5 {
}
#w-node-c25fb5a1-67e4-8e99-95de-de8726db66ef-26db66e5 {
}